<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="https://templatemo.com/templates/templatemo_524_product_admin/css/templatemo-style.css">
    <!--
    Product Admin CSS Template
    https://templatemo.com/tm-524-product-admin
    -->
</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="admin">
                    <h1 class="tm-site-title mb-0">Product Admin</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="admin/products">
                                <i class="fas fa-shopping-cart"></i>
                                Products
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="../">
                                Admin, <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">

            <!-- row -->
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">銷售統計</h2>
                        <canvas id="pieChart"   class="chartjs-render-monitor" width="150" height="150"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">最暢銷的商品</h2>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller">
                        <h2 class="tm-block-title">銷售趨勢</h2>
                        <div id="pieChartContainer">
                            <canvas id="lineChart" class="chartjs-render-monitor" ></canvas>
                        </div>                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <h2 class="tm-block-title">高價值客戶</h2>
                        <table class="table">
                            <thead>
                                <tr> 
                                    <th scope="col">排名</th>
                                    <th scope="col">帳號</th>
                                    <th scope="col">金額</th>
                                    <th scope="col">訂單數</th>
                                </tr>
                            </thead>
                            <tbody id="customer">
                            </tbody>
                            
                        </table>
                    </div>
                </div>
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Orders List</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">訂單編號</th>
                                    <th scope="col">訂單狀態</th>
                                    <th scope="col">目的地</th>
                                    <th scope="col">付款方式</th>
                                    <th scope="col">訂單金額</th>
                                    <th scope="col">訂單時間</th>
                                </tr>
                            </thead>
                            <tbody id="order">
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>

        Sales_By_Category();
        Top_Selling_Products();
        loadorder();
        Sales_By_Date();
        Top_Customers();
        function drawLineChart(data) {
    var ctxLine = document.getElementById('lineChart').getContext('2d');
    var labels = data.map(item => item[1]);
    var datasets = {};

    data.forEach(item => {
        if (!datasets[item[0]]) {
            datasets[item[0]] = {
                label: item[0],
                data: [],
                borderColor: generateColorFromLabel(item[0]), // 使用固定顏色生成函數
                fill: false
            };
        }
        datasets[item[0]].data.push(item[2]);
    });

    var lineChart = new Chart(ctxLine, {
        type: 'line',
        data: {
            labels: labels.filter((value, index, self) => self.indexOf(value) === index),
            datasets: Object.values(datasets)
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    ticks: {
                        color: 'white'
                    }
                },
                y: {
                    ticks: {
                        color: 'white'
                    },
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    labels: {
                        color: 'white'
                    }
                }
            }
        }
    });
}

function generateColorFromLabel(label) {
    // 將label轉換為顏色碼的hash函數
    var hash = 0;
    for (var i = 0; i < label.length; i++) {
        hash = label.charCodeAt(i) + ((hash << 5) - hash);
    }
    var color = '#';
    for (var j = 0; j < 3; j++) {
        var value = (hash >> (j * 8)) & 0xFF;
        color += ('00' + value.toString(16)).slice(-2);
    }
    return color;
}



        function drawPieChart(data) {
            var ctxPie = document.getElementById('pieChart').getContext('2d');
            var labels = data.map(item => item[0]);
            var values = data.map(item => item[1]);
            var pieChart = new Chart(ctxPie, {
            type: 'pie',
            data: {
            labels: labels,
            datasets: [{
            data: values,
            backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40'],
            hoverBackgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40']
            }]
            },
            options: {
            responsive: true,
            plugins: {
            legend: {
            display: true, // 顯示圖例
            labels: {
                color: 'white' // 設定圖例文字顏色為白色
            }
            },
            tooltip: {
            bodyFontColor: 'white',
            titleFontColor: 'white'
            }
            }
            }
            });
        }

        function Sales_By_Date(){
            $.ajax({
            url: 'Sales_By_Date',
            type: 'GET',
            contentType: 'application/json',
            success: function(response) {
                drawLineChart(response);
            },
            error: function(error) {
            console.log(error);
            alert('請求失敗');
            }
            });
        }

        function Top_Selling_Products(){
            $.ajax({
            url: 'Top_Selling_Products',
            type: 'GET',
            contentType: 'application/json',
            success: function(response) {
            drawBoxChart(response);
            },
            error: function(error) {
            console.log(error);
            alert('請求失敗');
            }
            });
        }

        function drawBoxChart(data) {
            var ctxBox = document.getElementById('barChart').getContext('2d');
            var labels = data.map(item => item[0]);
            var values = data.map(item => item[1]);
            var backgroundColors = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)'
            ];
            var borderColors = [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)'
            ];
            var boxChart = new Chart(ctxBox, {
            type: 'bar',
            data: {
            labels: labels,
            datasets: [{
            label: '',
            data: values,
            backgroundColor: backgroundColors.slice(0, values.length),
            borderColor: borderColors.slice(0, values.length),
            borderWidth: 1
            }]
            },
            options: {
            responsive: true,
            scales: {
            x: { // x 軸配置
            ticks: {
                color: 'white', // 設定 x 軸刻度文字為白色
                font: {
                size: 14, // 可選：設定字體大小
                weight: 'bold' // 可選：設定字體粗細
                }
            }
            },
            y: { // y 軸配置
            ticks: {
                color: 'white', // 設定 y 軸刻度文字為白色
                font: {
                size: 14,
                weight: 'bold'
                }
            },
            beginAtZero: true // 可選：y 軸從 0 開始
            }
            },
            legend: {
            labels: {
            color: 'white' // 設定圖例文字顏色為白色
            }
            },
            tooltips: {
            color: 'white', // 設定提示框文字顏色為白色
            titleFontColor: 'white' // 設定提示框標題顏色為白色
            }
            },
            plugins: {
            legend: {
            labels: {
            color: 'white' // 設定圖例文字顏色為白色
            }
            }
            }
        });
        }

        function Sales_By_Category(){
            $.ajax({
            url: 'Sales_By_Category',
            type: 'GET',
            contentType: 'application/json',
            success: function(response) {
                drawPieChart(response);
            },
            error: function(error) {
                console.log(error);
                alert('請求失敗');
            }
            });
        }
        
        function loadorder(){
        $.ajax({
          url: 'Load_Orders',
          type: 'GET',
          contentType: 'application/json',
          success: function(response) {
            let html = '';
            response.forEach(function(order) {
              html += '<tr>';
              html += '<th scope="row"><b>#' + order[0] + '</b></th>';
              html += '<td>';
              if (order[4] == '處理中') {
            html += '<div class="tm-status-circle moving"></div>處理中';
              } else if (order.status == '運送中') {
            html += '<div class="tm-status-circle pending"></div>運送中';
              } else {
            html += '<div class="tm-status-circle cancelled"></div>取消';
              }
              html += '</td>';
              html += '<td><b>' + order[3] + '</b></td>';
              html += '<td><b>' + order[2] + '</b></td>';
              html += '<td><b>' + order[6] + '</b></td>';
              html += '<td><b>' + order[1] + '</b></td>';
              html += '</tr>';
            });
            $('#order').html(html);
          },
          error: function(error) {
            console.log(error);
            alert('請求失敗');
          }
        });
          }
        function Top_Customers(){
        $.ajax({
          url: 'Top_Customers',
          type: 'GET',
          contentType: 'application/json',
          success: function(response) {
            let html = '';
            response.forEach(function(customer, index) {
              html += '<tr>';
              html += '<th scope="row">' + (index + 1) + '</th>';
              html += '<td>' + customer[0] + '</td>';
              html += '<td>' + customer[1] + '</td>';
              html += '<td>' + customer[2] + '</td>';
              html += '</tr>';
            });
            $('#customer').html(html);
            console.log(response);
          },
          error: function(error) {
            console.log(error);
            alert('請求失敗');
          }
        });
          }    
        
    </script>
</body>

</html>