<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Jewellery</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="/static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--  -->
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
      <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      
      <!-- banner bg main start -->
      <div class="banner_bg_main">
         <!-- header top section start -->
         <div class="container">

         </div>
         <!-- header top section start -->
         <!-- logo section start -->
         <div class="logo_section">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                    
                  </div>
               </div>
            </div>
         </div>
         <!-- logo section end -->
         <!-- header section start -->
         <div class="header_section"></div>
            <div class="container">
               <div class="containt_main d-flex justify-content-between align-items-center">
                  <!-- Another variation with a button -->
                  <div class="input-group">
                     <input id="keyword" type="text" class="form-control" placeholder="輸入商品名稱" >
                     <div class="input-group-append" onclick="Search()">
                        <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                        <i class="fa fa-search"></i>
                        </button>
                     </div>
                  </div>
                  <div class="login_menu ml-3">
                      <ul class="d-flex mb-0">
                        <li class="mr-3">
                           <a href="#">
                            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <a href="#">
                              <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="navbar ">
       </div>
      <div id="main">

      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/jquery-3.0.0.min.js"></script>
      <script src="/static/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/js/custom.js"></script>
      <script>
         loadpro();
         function loadpro(){
        $.ajax({
          url: 'Load_InStock_Product',
          type: 'GET',
          contentType: 'application/json', 
          success: function(response) {
            var html = '';
            var productsByCategory = {};
            for (var i = 0; i < response.length; i++) {
               var id = response[i][0];
               var name = response[i][1];
               var price = response[i][2];
               var img = response[i][3];
               var category = response[i][4];

               if (!productsByCategory[category]) {
               productsByCategory[category] = [];
               }
               productsByCategory[category].push([id, name, price, img]);
            }
            for (var category in productsByCategory) {
               var categoryId = category.replace(/\s+/g, '_'); // Replace spaces with underscores for unique IDs
               html += '<div>';
               html += '<h1 class="fashion_taital">'+category+'</h1>';
               html += '</div>';
               html += '<div id="jewellery_main_slider'+categoryId+'" class="carousel slide" data-ride="carousel" data-interval="false">';
               html += '<div class="carousel-inner">';
               var items = productsByCategory[category];
               for (var j = 0; j < items.length; j += 3) {
               html += '<div class="carousel-item ' + (j === 0 ? 'active' : '') + '">';
               html += '<div class="container">';
               html += '<div class="fashion_section_2">';
               html += '<div class="row">';
               for (var k = j; k < j + 3 && k < items.length; k++) {
                 var product = items[k];
                 html += '<div class="col-lg-4 col-sm-4">';
                 html += '<div class="box_main">';
                 html += '<h4 class="shirt_text">' + product[1] + '</h4>';
                 html += '<p class="price_text">Start Price <span style="color: #262626;">$ ' + product[2] + '</span></p>';
                 html += '<div class="jewellery_img"><img src="' + product[3] + '"></img></div>';
                 html += '<div class="btn_main">';
                 html += '<div class="buy_bt"><a href="#">加入購物車</a></div>';
                 html += '</div>';
                 html += '</div>';
                 html += '</div>';
               }
               html += '</div>';
               html += '</div>';
               html += '</div>';
               html += '</div>';
               }
               html += '</div>';
               html += '<a class="carousel-control-prev" href="#jewellery_main_slider'+categoryId+'"  class = "jewellery_main_slider"role="button" data-slide="prev">';
               html += '<i class="fa fa-angle-left"></i>';
               html += '</a>';
               html += '<a class="carousel-control-next" href="#jewellery_main_slider'+categoryId+'" class="jewellery_main_slider" role="button" data-slide="next">';
               html += '<i class="fa fa-angle-right"></i>';
               html += '</a>';
               html += '</div>';
            }

            $('#main').html(html);
            console.log(response);
          },
          error: function(error) {
            console.log(error);
            alert('請求失敗');
          }
        });        
      }
      function Search(){
         var keywords = document.getElementById('keyword').value;
        $.ajax({
          url: 'Search_InStock_Product',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ keyword: keywords }),
          success: function(response) {
            var html = '';
            var productsByCategory = {};
            for (var i = 0; i < response.length; i++) {
               var id = response[i][0];
               var name = response[i][1];
               var price = response[i][2];
               var img = response[i][3];
               var category = response[i][4];

               if (!productsByCategory[category]) {
               productsByCategory[category] = [];
               }
               productsByCategory[category].push([id, name, price, img]);
            }
            for (var category in productsByCategory) {
               var categoryId = category.replace(/\s+/g, '_'); // Replace spaces with underscores for unique IDs
               html += '<div>';
               html += '<h1 class="fashion_taital">'+category+'</h1>';
               html += '</div>';
               html += '<div id="jewellery_main_slider'+categoryId+'" class="carousel slide" data-ride="carousel" data-interval="false">';
               html += '<div class="carousel-inner">';
               var items = productsByCategory[category];
               for (var j = 0; j < items.length; j += 3) {
               html += '<div class="carousel-item ' + (j === 0 ? 'active' : '') + '">';
               html += '<div class="container">';
               html += '<div class="fashion_section_2">';
               html += '<div class="row">';
               for (var k = j; k < j + 3 && k < items.length; k++) {
                 var product = items[k];
                 html += '<div class="col-lg-4 col-sm-4">';
                 html += '<div class="box_main">';
                 html += '<h4 class="shirt_text">' + product[1] + '</h4>';
                 html += '<p class="price_text">Start Price <span style="color: #262626;">$ ' + product[2] + '</span></p>';
                 html += '<div class="jewellery_img"><img src="' + product[3] + '"></img></div>';
                 html += '<div class="btn_main">';
                 html += '<div class="buy_bt"><a href="#"></a></div>';
                 html += '</div>';
                 html += '</div>';
                 html += '</div>';
               }
               html += '</div>';
               html += '</div>';
               html += '</div>';
               html += '</div>';
               }
               html += '</div>';
               html += '<a class="carousel-control-prev" href="#jewellery_main_slider'+categoryId+'"  class = "jewellery_main_slider"role="button" data-slide="prev">';
               html += '<i class="fa fa-angle-left"></i>';
               html += '</a>';
               html += '<a class="carousel-control-next" href="#jewellery_main_slider'+categoryId+'" class="jewellery_main_slider" role="button" data-slide="next">';
               html += '<i class="fa fa-angle-right"></i>';
               html += '</a>';
               html += '</div>';
            }
            $('#main').html(html);
          },
          error: function(error) {
            console.log(error);
            alert('請求失敗');
          }
        });        
      }         
      </script>
   </body>
</html>